<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cajero Andalucía{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <!-- Header común -->
    <header class="header">
        <img src="{% static 'img/logo.png' %}" alt="Logo Andalucía" class="logo">
    </header>

    <!-- Contenido dinámico -->
    <div class="main-container">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
