{% extends 'base.html' %}
{% block CuentasCorriente %}Cuentas Corriente{% endblock %}
{% block content %}

<div class="atm-containercuentas">
    <h1 class="title-tarjta">Cuenta Corriente</h1>
    <p> </p>
    <p> </p>

    <div class="accounts-list">
        {% for cuenta in cuentas %}
            <div class="account-card">
                <h2 class="account-title">Número de cuenta: {{ cuenta.cuenta }}</h2>

                <ul class="card-list">
                    {% for tarjeta in cuenta.tarjetas.all %}
                        <li>
                            <a class="card-button" href="{% url 'seleccionar_tarjeta' tarjeta.id %}">
                                Tarjeta {{ tarjeta.primeros_digitos }} **** **** ****
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
    
    <a href="{% url 'home' %}" class="back-button">Volver</a>
</div>

{% endblock %}
