{% extends 'base.html' %}
{% block CuentasdeAhorros %}Cuentas de Ahorros{% endblock %}
{% block content %}
    
    <h1>Cuenta Ahorros</h1>

    <ul>
        {% for cuenta in cuentas %}
            <li>
                Numero de cuenta: {{ cuenta.cuenta }}
                <ul>
                    {% for tarjeta in cuenta.tarjetas.all %}
                        <li>
                            <a href="{% url 'seleccionar_tarjeta' tarjeta.id %}">Tarjeta {{ tarjeta.numero_tarjeta }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'home' %}">Volver</a>
{% endblock %}

