{% extends 'base.html' %}

{% block Iniciar_Sesion %}Iniciar Sesión{% endblock %}
{% block content %}
<div class="login_style">
    <h1>Transacción Sin Tarjeta</h1>
    <form method="post">
        {% csrf_token %}
        <p> </p>
        <div class="form-group">
            <label for="{{ form.cedula.id_for_label }}" class="highlight-textcopia" > Ingresa Cédula</label>
            {{ form.cedula }}
        </div>
        <p> </p>

        <div class="form-group">
            <label for="{{ form.password.id_for_label }}" class="highlight-textcopia" >Codigo de Verificación</label>
            {{ form.password }}
        </div>
        <button class="btn"  type="submit">Ingresar</button>
    </form>
</div>
{% endblock %}
